{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact" class="contact-us section-bg">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{"<!-- Contact -->" | safeHTML}}
	    <div class="about container">
	  	<div class="row justify-content-center">
			{{ range .contact_buttons }}
			{{"<!-- Contact item -->" | safeHTML}}
			<div class="col-lg-3 text-center wow fadeInUp" data-wow-duration="500ms">
			  <a href="{{ .link | safeURL }}">
				<div style="margin: 16px; padding: 24px;" class="block">
					{{with .icon}}<i style="font-size: 48px" class="{{ . }}"></i>{{ end }}
					<div style="margin-top: 24px" class="content text-center">
						<h3>{{ .title }}</h3>
						<p>{{ .text }}</p>
					</div>
				</div>
			  </a>
			</div>
			{{ end }}
			</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /contact -->" | safeHTML}}
