<!-- This is taken from https://cookieconsent.insites.com -->

<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#1d2024"
    },
    "button": {
      "background": "#57cbcc"
    }
  },
	"type": "opt-in",
  "position": "bottom-right",
  "content": {
		"allow": "Allow",
		"deny": "Deny",
    "message": "This website uses cookies to improve your experience.",
    "link": "More Infos.",
    "href": "/info/dataprivacy"
  },
	"onStatusChange": function(a) {
		this.hasConsented() ? console.log("ALLOWED COOKIES") : console.log("DENIES COOKIES")
	}
})});
</script>
