<!-- Begin Signup Form -->
<script type="text/javascript">
	if (typeof jQuery == 'undefined') {
		document.write('<scr' + 'ipt type="text/javascript" src="https://list.mailigen.com/js/jquery.js"></scr' + 'ipt>');
	}
</script>
<script language="javascript" type="text/javascript" src="https://list.mailigen.com/js/scripts.js"></script>
<script language="javascript" type="text/javascript" src="https://list.mailigen.com/js/subscribe3.0.js"></script>
<script language="javascript" type="text/javascript">
jQuery(function(){
   jQuery('.MG-placeholder-1601995368797').MGsubscribe({
       type: 'inline'
   });
});
</script>
<div class="MG-placeholder-1601995368797">
<style type="text/css">
.MG-placeholder-1601995368797,
.MG-placeholder-1601995368797 .subtext a,
.MG-placeholder-1601995368797 .formfields input.text,
.MG-placeholder-1601995368797 .formfields select.text,
.MG-placeholder-1601995368797 .formfields textarea.text {
    font-family: Arial, Helvetica, 'sans-serif';
    font-size: 13px;
}
.MG-placeholder-1601995368797,
.MG-placeholder-1601995368797 .subtext a {
    color: #37334A;
}
.MG-placeholder-1601995368797 {
    padding: 0px;
    }
.MG-placeholder-1601995368797 .clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    overflow: hidden;
}
.MG-placeholder-1601995368797 a {
    color: #009CFF;
}
.MG-placeholder-1601995368797 a:hover {
    text-decoration: none;
}
.MG-placeholder-1601995368797 p {
    line-height: 18px;
}
.MG-placeholder-1601995368797 .reset-font {
    font-size: 0px;
    line-height: 0;
    height: 0px;
    margin: 0;
    padding: 0;
}
.MG-placeholder-1601995368797 .formfields {
    position: relative;
    background-color: #FFFFFF;
    border-style: none;
    width: 500px;
    word-wrap: break-word;
    margin: auto;
}
.MG-placeholder-1601995368797 .formfields,
.MG-placeholder-1601995368797 .formfields input.text,
.MG-placeholder-1601995368797 .formfields select.text,
.MG-placeholder-1601995368797 .formfields textarea.text {
    border-width: 2px;
    border-color: #DDDDDD;
    border-radius: 4px;
        }
.MG-placeholder-1601995368797 .formfields h1 {
    margin: 0 0 5px 0;
    padding: 30px 20px;
    background-repeat: repeat;
        background-position: 0px 0px;
        background-color:#FFFFFF;
    color:#37334a;
    font-size:20px;
    font-family:Arial, Helvetica, 'sans-serif';
    font-weight:normal;
}
.MG-placeholder-1601995368797 #mg-footer {
    background-repeat: repeat;
        background-position: 0px 0px;
        background-color:#F0F0F0;
    height:0px;
    line-height:0px;
}
.MG-placeholder-1601995368797 #logo {
        background-repeat: repeat;
            background-position: 0px 0px;
            height:0px;
        width:500px;
        margin:5px auto;
    }
    .MG-placeholder-1601995368797 .formfields .ffields {
    margin: 0px 20px 5px;
}
.MG-placeholder-1601995368797 .formfields .ffields input.submit,
.MG-placeholder-1601995368797 .formfields .ffields button,
.MG-placeholder-1601995368797 .formfields .ffields a.button {
    background-color: #009CFF;
    border: 2px none #DDDDDD;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, \'sans-serif\';
    font-size: 14px;
    padding: 12px 20px;
    font-weight: bold;
}
.MG-placeholder-1601995368797 .formfields .ffields a.button {
    display: inline-block;
    text-decoration: none;
}
.MG-placeholder-1601995368797 .mg_email_button {
    display: inline-block;
    width: 100%;
}
.MG-placeholder-1601995368797 .mg_email_button table {
    overflow: hidden;
    border-radius: 2px;
    background-color: #009CFF;
     border-width:2px;
    border-color: #DDDDDD;
    border-style: none;
    }
.MG-placeholder-1601995368797 .mg_email_button td {
    padding: 12px 20px;
}
.MG-placeholder-1601995368797 .mg_email_button a {
    color: #FFFFFF;
    display: block;
    font-family: Arial, Helvetica, \'sans-serif\';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 0;
}
.MG-placeholder-1601995368797 .formfields textarea.text,
.MG-placeholder-1601995368797 .formfields input.text,
.MG-placeholder-1601995368797 .formfields select.text {
    border-style: solid;
    padding: 5px;
    width: 95%;
    display: block;
    height: 32px;
}
.MG-placeholder-1601995368797 .formfields textarea.text {
    width: 97%;
}
.MG-placeholder-1601995368797 .bforms {}
.MG-placeholder-1601995368797 .bforms .tr {
    clear: both;
    margin-bottom: 18px;
    float: left;
    width: 99%;
}
.MG-placeholder-1601995368797 .bforms .tr .c1 {
    padding-bottom: 3px;
        width: 100%;
        font-weight:bold;
}
.MG-placeholder-1601995368797 .bforms .tr .c1 .subscribed-email {
    font-weight: normal;
}
.MG-placeholder-1601995368797 .bforms .tr .c2 {
    width: 100%;
        }
.MG-placeholder-1601995368797 .bforms .tr .c3 {
    float: left;
    width: 4%;
    display: none;
}
.MG-placeholder-1601995368797 .subtext,
.MG-placeholder-1601995368797 .subtext a {
    font-size: 11px;
}
.MG-placeholder-1601995368797 .subtext {
    margin: 0px auto;
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: absolute;
    left: 0px;
    bottom: -20px;
    width: 100%;
}
.MG-placeholder-1601995368797 .subtext-position {
    position: relative;
}
.MG-placeholder-1601995368797 .subtext-position .subtext {
    top: 5px;
}
.MG-placeholder-1601995368797 .subtext a {
    text-decoration: none;
}
.MG-placeholder-1601995368797 .subtext a:hover {
    text-decoration: underline;
}
.MG-placeholder-1601995368797 .formfields .button {
    text-align: left;
}
.MG-placeholder-1601995368797 .error {
    color: #d00;
}
.MG-placeholder-1601995368797 #error {
    text-align: center;
    color: #d00;
}
.MG-placeholder-1601995368797 .hidden {
    display: none;
}
.MG-placeholder-1601995368797 .mg_embed_close {
    font-size: 0px;
    background-image: url(https://list.mailigen.com/img/lightbox-close.png);
    background-repeat: repeat;
    background-position: 0 0;
    background-color: transparent;
    background-attachment: scroll;
    width: 42px;
    height: 42px;
    text-decoration: none;
    position: absolute;
    top: -24px;
    right: -24px;
}
.MG-placeholder-1601995368797 .lists-wrapper {
    margin: 10px 0 0 0;
    padding: 10px 10px 0 10px;
}
.MG-placeholder-1601995368797 .lists-wrapper-scroll {
    border: 2px solid #DDDDDD;
    max-height: 100px;
    overflow-y: scroll;
}
.MG-placeholder-1601995368797 .lists-wrapper .lists-element label i {
    margin-left: 28px;
    display: block;
}
.MG-placeholder-1601995368797 .lists-wrapper .lists-element .list-element-checkbox {
    height: 16px;
    width: 16px;
}
.MG-placeholder-1601995368797 .formfields #mg-content {
    margin-bottom: 20px;
}
.MG-placeholder-1601995368797 .formfields .ffields button#formSubmit:disabled {
    background: #D7D6DB;
}
.MG-placeholder-1601995368797 .subscribe {
    background: transparent !important;
}
.MG-placeholder-1601995368797 #subscribe {
    background: transparent !important;
}
.MG-placeholder-1601995368797 .subtext,
.MG-placeholder-1601995368797 .subtext a {
    color: #FFFFFF;
}
</style>
<form name="subscribe" class="subscribe" action="https://list.mailigen.com/subscribe/post" method="post">
		<input type="hidden" name="subscribe" value="true">
		<input type="hidden" name="ln" value="en">
		<input type="hidden" name="u" value="f0a3b9767df7ef338b9d7c8d5c443ebf">
		<input type="hidden" name="id" value="c9190e4d">
		<div id="logo"><font class="reset-font"><br></font></div>
		<div class="formfields" id="formfields">
			<a href="#" id="mg_embed_close" class="mg_embed_close" style="display:none;">Close</a>
            <!--[if mso]><div id="mso-style" style="text-indent: 20px"><![endif]-->
			<h1>Download free \"Dashboard-Framework\"</h1>
            <!--[if mso]></div><![endif]-->
			<div class="ffields customformstyle" style="margin-bottom: 28px">
				<div id="mg-content">A link to the dashboard-Framwork will be send to you within 10 seceonds</div><div id="error" class="global-error"></div>
				<div class="bforms">
					<div class="tr require" id="merge-0">
						<div class="c1">Email Address *</div>
						<div class="c2">
							<input type="text" class="text" name="merge[0]" accept="email" value="">
						</div>
						<div class="c3"></div>
					</div>
					<div class="tr norequire" id="merge-1">
						<div class="c1">First Name </div>
						<div class="c2">
							<input type="text" class="text" name="merge[1]" accept="text" value="">
						</div>
						<div class="c3"></div>
					</div>
					<div class="tr norequire" id="merge-2">
						<div class="c1">Last Name </div>
						<div class="c2">
							<input type="text" class="text" name="merge[2]" accept="text" value="">
						</div>
						<div class="c3"></div>
					</div><br class="clear"></div><br><div class="button" style="text-align:left"><button id="formSubmit" name="submit" type="submit">Download now</button><input type="image" name="submit" alt="Download now" src="" style="display:none"></div>
				<div class="clear"></div>
			</div>
			<div id="mg-footer"><font class="reset-font"><br></font></div>
			<div class="subtext-position"><div class="subtext">
				<div style="float:left;" class="label-mem">Mailigen <a href="https://www.mailigen.com/" target="_blank" title="Email Marketing">Email Marketing</a></div>
				<div style="float:right;" class="label-rf">* Required fields</div>
			</div></div>
		</div>
		<div><font class="reset-font"><br></font></div>
		
</form>
</div>
<!-- End Signup Form -->
