<!-- Modal -->
<div class="modal fade" id="automizlyModal" tabindex="-1" role="dialog" aria-labelledby="automizlyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

      <!-- Form content -->



<form id="automizy-form-PobnB-flfg8-F2wre5yZ24apM1Q" action="https://gateway.automizy.com/v2/forms/submit/065c44fcA18f8A451aAbad5A6767d750f60c/PobnB-flfg8-F2wre5yZ24apM1Q" method="POST" style="background-color:#ffffff; max-width:600px">
    
    <div class="automizy-form-header-block" style="color: #333333; font-size: 30px; font-family: lato,helvetica neue,helvetica,arial,sans-serif; font-weight: bold; text-align: center; padding-top: 25px; padding-right: 24px; padding-bottom: 25px; padding-left: 24px; ">
       Get your free copy now!
    </div>

    <div class="automizy-form-text-block" style="color: #333333; font-size: 16px; font-family: lato,helvetica neue,helvetica,arial,sans-serif; text-align: center; padding-top: 12px; padding-right: 15px; padding-bottom: 12px; padding-left: 15px; ">
       The “Dashboard-Framework” contains various checklists, dashboard templates and great examples for inspiration. 
    </div>

    <div id="automizy-00001362-j1jrl4l6om" class="automizy-form-text-field-block" style="text-align: left; padding: 12px 24px; font-family: lato,helvetica neue,helvetica,arial,sans-serif; padding-left: 40px; padding-right: 40px; padding-top: 15px; padding-bottom: 15px; ">
        <label style="width:100%">
            <div style="color: #333333; font-size: 14px; font-weight: bold; margin-bottom: 5px; font-family: lato,helvetica neue,helvetica,arial,sans-serif; display: none; ">First Name</div>
            <input type="text" name="fields[1]" placeholder="First name" value="" style="height: 40px; width: 100%; box-sizing: border-box; outline: none; font-size: 14px; background: #ffffff; padding: 6px 12px; color: #2b2f33; line-height: normal; display: inline-block; border-color: #e0e0e0; border-radius: 3px; border-style: solid; border-width: 1px; " />
        </label>
    </div>
    <style>#automizy-00001362-j1jrl4l6om input:focus{border-color:#bfbfbf !important;}</style>

    <div id="automizy-00001363-5f5btuppnf" class="automizy-form-text-field-block" style="text-align: left; padding: 12px 24px; font-family: lato,helvetica neue,helvetica,arial,sans-serif; padding-left: 40px; padding-right: 40px; padding-top: 15px; padding-bottom: 15px; ">
        <label style="width:100%">
            <div style="color: #333333; font-size: 14px; font-weight: bold; margin-bottom: 5px; font-family: lato,helvetica neue,helvetica,arial,sans-serif; display: none; ">Email address *</div>
            <input type="email" name="email" placeholder="Your best email" required value="" style="height: 40px; width: 100%; box-sizing: border-box; outline: none; font-size: 14px; background: #ffffff; padding: 14px 12px; color: #2b2f33; line-height: normal; display: inline-block; border-color: #e0e0e0; border-radius: 3px; border-style: solid; border-width: 1px; " />
        </label>
    </div>
    <style>#automizy-00001363-5f5btuppnf input:focus{border-color:#bfbfbf !important;}</style>

    <div id="automizy-00001364-lvr1xa12og" class="automizy-form-submit-button-block" style="text-align: center; padding-top: 40px; padding-right: 0px; padding-bottom: 40px; padding-left: 0px; ">
       <input type="submit" style="color: #ffffff; background-color: #57cbcc; font-size: 18px; font-family: lato,helvetica neue,helvetica,arial,sans-serif; border-radius: 3px; border-width: 2px; border-style: solid; border-color: #afbac4; padding: 15px 50px; box-shadow: 0px 10px 20px 0px rgba(45,78,245, 0.3); width: auto; " value="DOWNLOAD NOW" />
    </div>
    <style>#automizy-00001364-lvr1xa12og input:hover{background-color:#66cecf !important;border-color:#b4bec7 !important;} #automizy-00001364-lvr1xa12og input:active{background-color:#50bbbc !important;border-color:#a1abb5 !important;} input:focus{outline:0; !important;}</style>

    <style>
        @media (max-width:641px){
            .automizy-form-text-field-block,
            .automizy-form-submit-button-block,
            .automizy-form-image-block{
                padding-left:24px !important;
                padding-right:24px !important;
            }
        }
        .automizy-form-submit-button-block input,
        .automizy-form-button-block a{
            transition: 200ms;
        }
    </style>
        
    <div class="g-recaptcha"
         data-sitekey="6LeeSCgUAAAAAJIDeH8bfJChJznh1bL8t5VMHnhn"
         data-callback="PobnB-flfg8-F2wre5yZ24apM1Q"
         data-size="invisible">
    </div>

    <input type="hidden" name="fields[10]" value="" />

    <input type="hidden" name="fields[9]" value="" />

    <input type="hidden" name="fields[8]" value="" />

    <input type="hidden" name="fields[7]" value="" />
    <img src="https://gateway.automizy.com/v2/forms/pixel/065c44fcA18f8A451aAbad5A6767d750f60c/PobnB-flfg8-F2wre5yZ24apM1Q" onerror="this.style.display='none'" />
</form>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    (function(){
        var submitEnabled = false;
        window["PobnB-flfg8-F2wre5yZ24apM1Q"] = function(token){
            document.getElementById("automizy-form-PobnB-flfg8-F2wre5yZ24apM1Q").elements["g-recaptcha-response"].value = token;
            submitEnabled = true;
            document.getElementById("automizy-form-PobnB-flfg8-F2wre5yZ24apM1Q").submit();
        };
        document.getElementById("automizy-form-PobnB-flfg8-F2wre5yZ24apM1Q").onsubmit = function(){
            grecaptcha.execute();
            return submitEnabled;
        }
    })()
</script>
<script>
    (function(){
        var hiddenFieldNames = ["utm_campaign", "utm_content", "utm_medium", "utm_source"];
        var hiddenFieldIdByName = {"utm_campaign":10,"utm_content":9,"utm_medium":8,"utm_source":7};
        var jsonStep1 = location.search.substring(1).replace(/&/g, '","').replace(/=/g,'":"').toLowerCase();
        if(jsonStep1 !== "" && jsonStep1.length > 0){
            var urlParameters = JSON.parse('{"' + jsonStep1 + '"}', function(key, value) { return key===""?value:decodeURIComponent(value) });
            var form = document.getElementById("automizy-form-PobnB-flfg8-F2wre5yZ24apM1Q");
            var inputFields = {};
            var inputElements = form.getElementsByTagName("input");
            for(var j = 0; j < inputElements.length; j++){
                inputFields[inputElements[j].name] = inputElements[j];
            }
            for(var i = 0; i < hiddenFieldNames.length; i++){
                if(inputFields[hiddenFieldNames[i]])
                    inputFields[hiddenFieldNames[i]].value = urlParameters[hiddenFieldNames[i]] || "";
            }
            for(var i in urlParameters){
                if(inputFields["fields[" + hiddenFieldIdByName[i] + "]"])
                    inputFields["fields[" + hiddenFieldIdByName[i] + "]"].value = urlParameters[i];
            }
        }
    })()
</script>



      <!-- /Form content -->

      </div>
    </div>
  </div>
</div>
